@font-face{
    font-family: 'bg';
    src:url("../fonts/bg.eot");
    src:url("../fonts/bg.eot?#iefix") format("embedded-opentype"),url("../fonts/bg.woff") format("woff"),url("../fonts/bg.ttf") format("truetype");
    font-style:normal;
    font-weight:normal;
}
@font-face{
    font-family: 'lotus';
    src:url("../fonts/BLotus.eot");
    src:url("../fonts/BLotus.eot?#iefix") format("embedded-opentype"),url("../fonts/BLotus.woff") format("woff"),url("../fonts/BLotus.ttf") format("truetype");
    font-style:normal;
    font-weight:normal;
}
body{
    font-family: bg,lotus !important;
    margin: 0;
    padding: 60px 0 60px 0;
}
a{
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(144 ,105, 70);
    height: 30px;
    padding: 5px 15px;
    z-index: 10;
}
.dropdown-menu{
    right: 0;
}
.dropdown-menu li{
    float: left !important;
    text-align: left;
}
.development-age{
    float: right;
}
.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgb(144 ,105, 70);
    height: 30px;
	padding-bottom: 5px;
}
.about{
    padding: 0 20%;
    text-align: justify;
}
.about p{
    padding-left: 20px;
}
.footer img{
    border-radius: 10px 10px 0 0 ;
    position: absolute;
    right: 150px;
    bottom: 0;
}
.brands img{
    width: 100%;
    height: 100%;
}
.brands {
	display:inline-block;
	}
.brands > div {
    padding: 45px;
}
.projects img{
    position: relative;
    display: block;
    min-height: 100%;
    width: 100%;
    opacity: 0.8;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    
	
	
}
.projects{
	margin-bottom:50px;
}
.projects figure {
    position: relative;

    overflow: hidden;
    margin: 10px 1%;
   
    max-width: 480px;
    max-height: 360px;
    width: 100%;
    height: auto;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.project-name{
     text-align: center;
	
 }
.project-image{
    text-align: center;
    height: 450px;
	
}
.project-image img{
	height:400px;
	}

.project-des{
    
    text-align: justify;
	
}
.project-des p {
	line-height:15px;
	margin-top:5px;
	}

/* ----------- */
/* Image hover */
/* ----------- */
.grid{
	
	padding:5px;
	
	border-radius:2px;
    text-align: center;
}
.grid figure {
    position: relative;
	
    overflow: hidden;
    margin: 0 !important;
	height: auto;
    text-align: center;
    cursor: pointer;
}
.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
	text-shadow:0 2px 3px #000;
	
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}
/*-----------------*/
/***** Steve *****/
/*-----------------*/
figure.effect-steve {
    z-index: auto;
    overflow: visible;
}
figure.effect-steve:before,
figure.effect-steve h2:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-steve:before {
    opacity: 0;
}

figure.effect-steve figcaption {
    z-index: 1;
}
figure.effect-steve img {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: perspective(1000px) translate3d(0,0,0);
    transform: perspective(1000px) translate3d(0,0,0);
}
figure.effect-steve:hover:before {
    opacity: 1;
}
figure.effect-steve:hover img {
    -webkit-transform: perspective(1000px) translate3d(0,0,51px);
    transform: perspective(1000px) translate3d(0,0,51px);
}
/*---------------*/
/***** Ming *****/
/*---------------*/

figure.effect-ming {
    background: #030c17;
}

figure.effect-ming img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-ming figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.4,1.4,1);
    transform: scale3d(1.4,1.4,1);
}

figure.effect-ming h2 {
    margin: 20% 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-ming p {
    padding: 1em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

figure.effect-ming:hover h2 {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

figure.effect-ming:hover figcaption::before,
figure.effect-ming:hover p {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

figure.effect-ming:hover figcaption {
    background-color: rgba(58,52,42,0);
}

figure.effect-ming:hover img {
    opacity: 0.4;
}

.footer p {
	text-align:center;
	}
.footer p a{
	text-decoration:none;
}
.designer{
    color: #fff ;
}
.designer a{
    color: #cfcfcf;
}
.designer a:hover{
    color: #fff !important;
}
.nav-header li{
    list-style-type: none;
    display: inline-block;
    padding: 0 15px;
    float: right;
}
.nav-header li a{
    color: #dfdfdf;
}
.nav-header li a:hover{
    color: #fff;
    text-decoration: none;
}
#en{
	display:inline-block;
	width:20px;
	height:18px;
	background:url(../images/gb.png) no-repeat;
	background-position:0 4px;
	background-size:20px;

	}
#fa{
	display:inline-block;
	width:20px;
	height:18px;
	background:url(../images/ir.png) no-repeat;
	background-position:0 4px;
	background-size:20px;

	}
