@font-face{
    font-family: 'bg';
    src:url("../fonts/bg.eot");
    src:url("../fonts/bg.eot?#iefix") format("embedded-opentype"),url("../fonts/bg.woff") format("woff"),url("../fonts/bg.ttf") format("truetype");
    font-style:normal;
    font-weight:normal;
}
@font-face{
    font-family: 'lotus';
    src:url("../fonts/BLotus.eot");
    src:url("../fonts/BLotus.eot?#iefix") format("embedded-opentype"),url("../fonts/BLotus.woff") format("woff"),url("../fonts/BLotus.ttf") format("truetype");
    font-style:normal;
    font-weight:normal;
}
body{
    font-family: bg,lotus !important;
    margin: 0;
    padding: 60px 0 60px 0;
}
a{
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(144 ,105, 70);
    height: 40px;
    padding: 10px 15px;
    z-index: 10;
}
.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgb(144 ,105, 70);
    height: 50px;
	
}
.footer img{

    position: absolute;
    right: 150px;
    bottom: 0;
}
.brands img{
    width: 100%;
    height: 100%;

}

.brands > div {
    padding: 45px;
}

.project-name{
     text-align: center;
 }
.project-image{
    text-align: center;
    height: 450px;
}
.project-image img{
    height: 100%;
}

.project-des{
    padding: 0 50px 0 0 !important;
    text-align: justify;
}

/* ----------- */
/* Image hover */
/* ----------- */

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;

    height: auto;
    text-align: center;
    cursor: pointer;
}
/*-----------------*/
/***** Steve *****/
/*-----------------*/
figure.effect-steve {
    z-index: auto;
    overflow: visible;
}
figure.effect-steve:before,
figure.effect-steve h2:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-steve:before {
    opacity: 0;
}

figure.effect-steve figcaption {
    z-index: 1;
}
figure.effect-steve img {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: perspective(1000px) translate3d(0,0,0);
    transform: perspective(1000px) translate3d(0,0,0);
}
figure.effect-steve:hover:before {
    opacity: 1;
}
figure.effect-steve:hover img {
    -webkit-transform: perspective(1000px) translate3d(0,0,51px);
    transform: perspective(1000px) translate3d(0,0,51px);
}
.footer p {
	text-align:center;
	margin-top:20px !important;
	font-family:tahoma;
	}
.footer p a{
	text-decoration:none;
	color:black;
	font-family:tahoma;
	}